<!DOCTYPE html>
<!-- Informa que é um documento  do html -->

<html lang="pt-BR">
  <!-- tipo de linguagem -->
  <head>
    <meta charset="UTF-8" />
    <!-- codificação dos caracteres do documento -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CME Digital</title>
    <link rel="stylesheet" type="text/css" href="estilo.css"/>
    
  </head>

  <body>
    <header>
      <h1 id="cabecalho" class="textoVerde">
        <!-- Atributo ID é usado para identificar a tag de forma especifica
        a classe pode ser usada mais de uma vez em vários atributos -->

        <img id="logo" src="/CME/regCME/images/Logo.png" />
        <p>Bem vindo ao sistema da CME</p>
        <img src="/CME/regCME/images/IconeCME.png" />
      </h1>
    </header>

    <p>Escolha uma das opções abaixo</p>

    <nav>
      <ul>
        <li> <a href="cadastroMat.html"> Cadastrar materiais </a> </li>
        <li> <a href="#"> Consultar/Alterar materiais </a> </li>

      </ul>
    </nav>

    <p></p>

    <div style="width: 60 px; height: 60 px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      <br />
      Exercitationem, pariatur? Et odio praesentium libero a!
      <br />
      At odit porro minima repellendus aliquam est, a, adipisci fugiat autem
      perferendis mollitia, numquam temporibus!
    </div>

    


    <footer>
      <a href="https://www.unimedvarginha.coop.br" target="blank">
        Unimed Varginha
      </a>
    </footer>
  </body>
</html>
